* {
  margin: 0;
  padding: 0;
}

/* Font */
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto.ttf);
}

/* Body */
body {
  font-family: "Roboto";
  --background-color: rgb(221, 221, 221);
  height: 100vh;
}

/* Root */
.gap {
  height: 10px;
}
button {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
button:hover {
  background-color: gray;
}

